@import "../vendor/photoswipe/photoswipe";

.ooh-gallery{
	padding:0;
	margin:0;
	list-style:none;
}
.ooh-gallery-thumb{
	@include span-columns(3 of 12);
	@include omega(4n);
	margin-bottom:flex-gutter(12);
	
	img{
		display:block;
		width:100%;
		height:auto;
	}
	
	@include media($bp-tablet){
		@include span-columns(4 of 8);
		@include omega(2n);
		margin-bottom:flex-gutter(8);
	}
	
	@include media($bp-mobile){
		@include span-columns(1 of 1);
		@include omega;
		margin-bottom:flex-gutter(4);
	}
}
.ooh-gallery-title{
	display:block;
	text-align:center;
	
	.caption{
		display:none;
	}
}