@charset "utf-8";
/* CSS Document */
body{margin:0; padding:0;}
section{
	display:block;
	padding:30px;
	overflow:hidden;
	background:#6C3;
}

.animation-container{
	width:180px;
	height:123px;
	position:relative;
	overflow:hidden;
	float:left;
	margin:30px;
}
	.animation-container img{
		display:block;
		position:absolute;
		top:0;
		left:0;
		z-index:1;
	}
	.animation-container .icon-text{
		display:table;
		vertical-align:middle;
		width:100%;
		height:123px;
		position:absolute;
		top:492px;
		left:0;
		z-index:10;
		margin-top:-0.2em;

		color:#fff;
		font-size:22px;
		line-height:1.1em;
		text-align:center;
		font-family:'Neutra Text TF', sans-serif;
		font-weight:500;
		text-shadow:0 1px 5px rgba(0,0,0,0.45);
	}
		.animation-container .icon-text .vertalign{
			display:table-cell;
			vertical-align:middle;
			width:90%;
			padding:0 5%;
		}