body{
	background: #EFF3F7;
	width:100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #323232;
}

.wrapper{
	background: #EFF3F7;
	width:100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #323232;
}

.container{
	width: 640px;
}

p{
	margin: 0;
}

a{
	 color: #EB0000;
}

img{
	border: 0 !important;
	margin: 0;
}

table{
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}

.white-table{
	background: #FFF;
}

.light-blue-table{
	background: #f8fbfc;
}

.button{
	margin: 0 auto;
	width: auto;
}

.button .button-inner{
	background: #EB0000;
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.button a{
	background: #EB0000;
	color: #fff;
	line-height: 1.1;
	text-decoration: none;
}

.top{
	 color: #004071;
	 width:100%;
	 font-size: 11px;
	 line-height: 1;
}
.top table{
	display: inline-block;
	width: auto;
}

.top a{
	color: #1D68A0;
}

.center{
	text-align: center;
}

.heading-lg{
	color: #004071;
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
}

.heading-md{
	color: #004071;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
}

.heading-sm{
	color: #004071;
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
}

.details .heading-sm{
	color: #323232;
	line-height: 2;

}

.side-padding{
	width: 40px;
}


.side-by-side-links{
	width: 70%;
}
.side-by-side-links table{
	display: inline-block;
	width: auto;
}

.main-img{

}

.main-img img{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
}

.zig-zag-bg{
	background: #E6EBEE url('slate-diamonds.jpg');
}
.zig-zag-bg-inner{
	background: #FFFFFF;
}

.alternating-columns{

}

.alternating-columns table{
	text-align: left;
}

.alternating-columns .column-left,
.alternating-columns .column-right{
	display: inline-block;
	width: 260px;
}

.alternating-columns .column-spacer{
	display: inline-block;
}

.alternating-columns .img-spacer{
	height: 0px;
	font-size: 0;
	line-height: 0;
}

.alternating-columns .row-spacer{
	height: 60px;
	line-height: 60px;
}

.alternating-columns .image{
	width: 270px;
}
.alternating-columns .image img{
	width: 100%;
}

.numbered-list{

}

.numbered-list .number{
	width: 40px;
}

.numbered-list .number table{
	background: #EB0000;
	border-radius: 20px;
	color: #fff;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.numbered-list .text{
	text-align: left;
}

.numbered-list .col-spacer{
	width: 20px;
}

.numbered-list .row-spacer{
	height: 30px;
	line-height: 30px;
}

.footer{
	background: #D0E5EB;
	color: #004071;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.footer .side-padding{
	width: 60px;
}

.footer-cols table{
	display: inline-block;
	vertical-align: middle;
	width: auto;
}
.footer-cols table td{
	/*height: 40px;*/
	line-height: 1;
}

.footer-divider div{
	background: #004071;
	font-size: 0;
	height: 1px;
	line-height: 0;
	width: 60px;
}
.social{
	letter-spacing: 4px;
}

@media screen and (max-width: 700px) {

	.wrapper{
	}
	
	.container{
		width: 90% !important;
	}

	.top table{
		display: table;
		line-height: 1.5;
		width: 100%;
	}

	.side-padding{
		width: 30px;
	}

	.side-by-side-links{
		width: 100%;
	}

	.side-by-side-links table{
		display: table;
		line-height: 2;
		width: 100%;
	}

	.alternating-columns .column-left,
	.alternating-columns .column-right{
		display: table;
		width: 100%;
	}

	.alternating-columns .img-spacer{
		height: 20px;
		line-height: 20px;
	}

	.alternating-columns .row-spacer{
		height: 40px;
		line-height: 40px;
	}
	
	.footer .side-padding{
		width: 30px;
	}

	.footer-cols table{
		display: table;
		width: 100%;
	}
	.footer-cols table td{
		height: auto;
		text-align: center;
	}
	.footer-cols table.footer-divider{
		height: 30px;
		width: 100%;
	}
	.footer-divider div{
	}
}

@media screen and (max-width: 400px) {
	
	.side-padding{
		width: 20px;
	}
	.footer .side-padding{
		width: 20px;
	}
}