.parallax-page{
	background:#000;
	
	#photo{
		width:500px;
		height:800px;
		margin:0 auto;
		overflow:hidden;
	}
	
	img {
		display: block;
		width: 100%;
	}
	
	.scene {
		width: 120%;
		margin: 0 -10%;
		padding: 0;
	}
	.layer7{
		margin-top:3%;
	}
}